<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B906B1821C87548000A83DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9785F9D1EF12DB0006F6480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9785FB01EF291CB006F6480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
